.body{
	background-image: url(3.jpg); 
	background-size: cover; 
}
.box{
	background: ; 
	height: 400px;
	width: 200px;
	position: absolute;
}

.target1{  
	background-image: url(2.png);
	height: 20px;
	width: 20px;
	position: absolute;
	left: 600px;
	top: 300px; 
	background-size: 100% 100%;
 }

 .target2 {
 	background: url(4.png);
 	height: 15px;
 	width: 15px;
 	position: absolute;
 	left: 1420px;
 	top: 60px;
 	background-size: 100% 100%

 	}

 	 .target3 {
 	background: url(7.png);
 	height: 17px;
 	width: 17px;
 	position: absolute;
 	left: 90px;
 	top: 650px;
 	background-size: 100% 100%
 	}


 	 .target4 {
 	background: url(90.png);
 	height: 5px;
 	width: 5px;
 	position: absolute;
 	left:1500px;
 	top: 600px;
 	background-size: 100% 100%
 	}
 
 
 